body{
    height: 3000px;
}
#portfolio{
    display: flex;
    flex-direction: column;
    margin: auto;
}
#contacts{
    width: 100%;
    margin: auto;
}
#experience{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.exp{
    width: 100%;
    flex-wrap: wrap;
}